/JavaApplication9/nbproject/private/
/SubtractLeadingDigit/nbproject/private/
/Parallel or Intersecting Lines/nbproject/private/
/Weighted Sum/nbproject/private/
/Equivalent Strings/nbproject/private/
/Vigenere Cipher/nbproject/private/
/Excel Lent Notation/nbproject/private/
/Alphabetized Substring/nbproject/private/
/Overlapping Rectangles/nbproject/private/
/Weighted Sum/build/
/SubtractLeadingDigit/build/
/Parallel or Intersecting Lines/build/
/Equivalent Strings/build/
/Vigenere Cipher/build/
/Alphabetized Substring/build/
/Excel Lent Notation/build/
/Overlapping Rectangles/build/
